*  {
  margin:0;
  font-family: sans-serif;
}
body {

  background: #A1A1A1;
}
.clearFix {clear:both;}

#header {
  background: url("../img/header.png") repeat-x bottom;
  height: 50px;
  width: 100%;
}
#header h1 {
  font-size: 24px;
  line-height: 40px;
  padding: 0px 0px 0px 25px;
  color: #fff;
  -webkit-text-stroke: 1px black;
}
#dashboard {
  /*padding: 5px;*/
}
#footer p {
  color: #B1B1B1;
  text-align: center;
  font-size: 10px;
}

/*
 * Widgets Styling
 * Main styling
 */

.widget-column {
  width: 50%;
  float: left;
}
.widget-innerpadding {
  padding: 5px;
}

.widget {
  border: 1px solid #000;
  margin: 5px;
  border-radius: 5px 5px 0px 0px;
  background: #EEE;
}
.widget-header {
  background: #FF0;
  border-radius: 5px 5px 0px 0px;
}
.widget-header h3 {
  line-height: 26px;
  font-size: 18px;
  padding: 0px 0px 10px 15px;
  background: url("../img/border.png") repeat-x bottom;
  color: #000;
}
.widget-content {
  margin: 10px;
}
.widget .line {
  background: #000;
  margin: 10px 0px;
  height: 1px;
}

/*
 * Widgets Styling
 * Main styling
 */
 .widget-form {

 }
 .widget-form fieldset {
   float: left;
   margin: 5px;
 }
 .widget-form select {
   border: 1px solid #000;
   height: 30px;
   padding: 0px 5px 0px 5px;
 }
 .widget-form input {
   border: 1px solid #000;
   height: 28px;
   padding: 0px 0px 0px 5px;
   width: 180px;
 }
 .widget-form button {
   border: 1px solid #000;
   height: 30px;
 }
