.bookmarks-folder {
  border: 1px solid black;
  float: left;
  min-width: 280px;
  margin: 5px;
  border-radius: 5px 5px 0px 0px;
}
.bookmarks-folder ul {
  padding: 10px 15px 10px 15px;
}
.bookmarks-folder li {
  padding: 2px 0px 2px 0px;
  list-style: none;
}
.bookmarks-folder a {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #FF0;
}
.bookmarks-folder a.delete {
  float: right;
  color: #CCC;
  text-decoration: none;
}
.bookmarks-folder a.delete:hover {
  color: red;
}
